@mixin font-style {
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.inputWrapper {
  position: relative;
  padding: 0;
}

.label {
  @include font-style;
  top: 9px;
  left: 15px;
  position: absolute;
  transition: all 0.3s ease-out;
  color: #fff;
}

.input {
  @include font-style;
  border: none;
  padding: 10px;
  transition-property: width, opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
  width: 100%;
  color: #fff;
}

.dataInput {
  @include font-style;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #fff;
}

.textarea {
  padding: 15px;
  resize: none;
  font-size: 14px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.input:hover {
  background-color: #fff;
  color: #000;
}

.input:hover + .label {
  color: #000;
}

.dataInput:focus {
  outline: none;
}

.input:focus {
  outline: none;
  width: 300px;
  color: #000;
  background-color: #fff;
}

.input:focus + .label,
.textarea:focus + .label {
  opacity: 0;
}

.input:not(:placeholder-shown) + .label,
.textarea:not(:placeholder-shown) + .label {
  opacity: 0;
}
