$gradient-task-btn: (#bd66de, #5046ce);

@mixin basic-btn {
  background: linear-gradient(-45deg, $gradient-task-btn);
  cursor: pointer;
  color: #fff;
  border: none;
}

@mixin line {
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #fff;
  position: absolute;
}

.btn {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: background-color ease-in-out 0.3s;
  svg {
    height: 15px;
    width: 15px;
  }
}

.task {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  @include basic-btn;
  svg {
    height: 15px;
    width: 15px;
  }
}

.task:hover {
}

.btn:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.menuBtn {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.inner {
  @include line;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.inner::before,
.inner::after {
  @include line;

  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.inner::before {
  top: -7px;
}

.inner::after {
  top: 7px;
}

.active .inner {
  background-color: transparent;
}

.active .inner:before {
  transform: translateY(10px) rotate(45deg);
}

.active .inner:after {
  transform: translateY(-10px) rotate(-45deg);
}
