.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.listWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 30px 0;
}

.wrapperActive {
  @extend .wrapper;
  width: calc(100vw - 300px);
  left: 300px;
  transition: left 0.3s ease-out;
}
