.wrapper {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #db4c3f;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  padding: 0 10px;
}
